@{
    Layout = null;
}

<form asp-controller="Upload"
      asp-action="Image"
      method="post"
      enctype="multipart/form-data">

    <input type="file"
           name="videos"
           accept="video/mp4,video/webm"
           multiple />

    <br /><br />

    <button type="submit">Upload</button>
</form>
